@import url('https://fonts.cdnfonts.com/css/inter');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

body {
  background-color: #e1d4c9;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px 39px 40px 40px;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 150%;
  margin-bottom: 20px;
  padding-right: 2px;
}

#menu__toggle {
  opacity: 0;
}

.header__logo {
  margin-top: 9px;
}
.header-menu {
  display: flex;
  align-items: center;
  align-content: center;
}

.header-menu-container {
  display: flex;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.menu__list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 41px;
  margin-left: 28.3%;
}

.menu__item {
  display: flex;
  align-items: flex-end;
}

.menu__link,
.coffee-menu__text {
  color: #403f3d;
}

.coffee-menu {
  margin-top: -4px;
  margin-left: auto;
}

.menu__link,
.coffee__menu-link {
  position: relative;
  cursor: pointer;
  text-decoration: none;
}
.coffee-menu__text {
  margin-right: 7px;
}
.menu__link::after,
.coffee__menu-link::after {
  display: block;
  content: '';
  bottom: 0;
  height: 2px;
  transform: scale(0, 0);
  opacity: 0;
  transition: 0.8s;
  background-color: #403f3d;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.menu__link:hover::after,
.coffee__menu-link:hover::after {
  transform: scale(1, 1);
  opacity: 1;
  transition: 0.8s;
}

.enjoy-container {
  position: relative;
  height: 644px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  border-radius: 40px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #e1d4c9;
}

.enjoy-video {
  width: 100%;
  object-fit: cover;
  min-height: 100%;
  max-height: 644px;
  border-radius: 40px;
  z-index: -999;
  position: absolute;
  filter: brightness(70%);
}

.enjoy-container__title span {
  color: #b0907a;
}

.enjoy-container__content {
  color: #e1d4c9;
  display: flex;
  flex-direction: column;
  max-width: 530px;
  gap: 40px;
  margin-left: 100px;
  z-index: 1;
}

.enjoy-container__title {
  margin-top: 100px;
  font-weight: 600;
  margin-bottom: 1px;
  font-size: 72px;
  line-height: 105%;
}

.enjoy-container__title > span {
  color: #b0907a;
  font-style: italic;
}

.enjoy-container__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.enjoy-content__btn {
  width: 200px;
  color: #403f3d;
  background: #e1d4c9;
  padding: 20px 0;
  border-radius: 100px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enjoy-btn__text {
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  transition: 0.5s;
  translate: 10px;
}

.enjoy-btn__image {
  transform: translateY(-2px);
  width: 20px;
  opacity: 0;
  height: 20px;
  transition: 0.5s;
}

.enjoy-content__btn:hover > .enjoy-btn__text {
  transition: 0.5s;
  translate: -4px;
}

.enjoy-content__btn:hover > .enjoy-btn__image {
  opacity: 1;
  transition: 0.5s;
}

.favorite-container {
  padding-top: 100px;
}

.favorite__view-area {
  display: flex;
  max-width: 480px;
  overflow: hidden;
}

.favorite-slider {
  display: flex;
  transition: 0.8s;
  align-items: center;
  justify-content: center;
}

.favorite-container__title {
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  color: #403f3d;
  line-height: 125%;
}
.line {
  width: 0;
  background-color: #665f55;
  height: 4px;
  border-radius: 100px;
}
.favorite-container__title > span {
  font-style: italic;
  color: #b0907a;
}

.favorite-container__slider {
  padding-top: 41px;
}
.slider-card__img {
  max-height: 480px;
  margin-bottom: 20px;
  display: flex;
}
.main-slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-slide__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
}
.main-slide > .arrow-left {
  position: relative;
  left: 3px;
}

.main-slide > .arrow-right {
  position: relative;
  left: -3px;
}

.main-slide__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 60px;
  width: 60px;
  border: 1px solid #665f55;
  transition: 0.5s;
  border-radius: 100px;
  z-index: 999;
}

.main-slide__btn:hover {
  transition: 0.5s;
  background-color: #665f55;
}

.main-slide__btn:hover > svg path {
  stroke: #e1d4c9;
}

.slider-card__desc {
  max-width: 480px;
  color: #403f3d;
  text-align: center;
}

.slider-desc__price,
.slider-desc__title {
  font-size: 24px;
  line-height: 125%;
  font-weight: 600;
}

.slider-desc__text {
  font-size: 16px;
  margin-top: 16px;
  line-height: 150%;
  font-weight: 400;
}

.slider-pagination {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 40px;
}

.slider-desc__price {
  margin-top: 16px;
}

.slider-pagination__item {
  width: 40px;
  height: 4px;
  background-color: #c1b6ad;
  border-radius: 100px;
}

.slider-pagination__item.active {
  background-color: #665f55;
}

.about-container {
  padding-top: 100px;
  margin-bottom: 98px;
}

.about-container__title {
  color: #403f3d;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.1px;
}

.about-container__title > span {
  color: #b0907a;
  font-style: italic;
}

.about-container__gallery {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: column;
  grid-template-rows: repeat(8, auto);
  gap: 40px;
  height: 1060px;
  margin-top: 40px;
}

.about-gallery__item {
  border-radius: 20px;
  overflow: hidden;
  max-width: 720px;
  width: 100%;
}

.about-gallery__item img {
  object-fit: cover;
  transform: scale(1.1);
  transition: 0.75s;
  width: 100%;
  height: 100%;
}

.about-gallery__item img:hover {
  transform: scale(1);
  transition: 0.5s;
}

.item1 {
  height: 590px;
  grid-column: span 1;
  grid-row: span 5;
}

.item2 {
  height: 430px;
  grid-column: span 1;
  grid-row: span 3;
}

.item3 {
  height: 430px;
  grid-column: span 1;
  grid-row: span 3;
}

.item4 {
  height: 590px;
  grid-column: span 1;
  grid-row: span 5;
}

.download-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 101px;
}

.download-container__left {
  max-width: 630px;
  color: #403f3d;
}

.left__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}

.left__title span {
  color: #b0907a;
  font-style: italic;
}

.left__text {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.left__btns {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.left-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #665f55;
  border-radius: 100px;
  width: 200px;
  height: 64px;
  padding: 12px 22px;
  color: #403f3d;
  transition: 0.8s;
}

.left-btn:hover {
  background-color: #665f55;
}

.left-btn:hover svg path {
  fill: #c1b6ad;
}

.left-btn:hover .left-btn_desc {
  color: #c1b6ad;
}

.left-btn_desc {
  display: flex;
  flex-direction: column;
}

.small {
  line-height: 150%;
  font-weight: 600;
  font-size: 10px;
}

.big {
  line-height: 150%;
  font-weight: 600;
  font-size: 16px;
}

.footer-container {
  display: flex;
  gap: 100px;
  background-color: #665f55;
  border-radius: 40px;
  padding: 100px;
}

.footer-container__title {
  font-size: 60px;
  line-height: 125%;
  color: #e1d4c9;
  font-weight: 600;
}

.footer-container__left {
  max-width: 530px;
}

.footer-container__socials {
  display: flex;
  gap: 12px;
  margin-top: 40px;
}

.footer-container__title > span {
  font-style: italic;
  color: #b0907a;
}

.footer-container__socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border: 1px solid #e1d4c9;
  border-radius: 100px;
  color: #c1b6ad;
  transition: 0.5s;
  cursor: pointer;
}

.footer-container__socials a:hover {
  background-color: #e1d4c9;
}

.footer-container__socials > a:hover > svg path {
  stroke: #665f55;
}

.footer-container__right {
  padding-top: 32px;
  color: #e1d4c9;
}

.footer-container__text {
  line-height: 125%;
  font-size: 24px;
  font-weight: 600;
}

.list-item__link,
.list-item__link:visited,
.list-item__link:focus {
  text-decoration: none;
}

.footer-container__list {
  display: flex;
  gap: 14px;
  margin-top: 40px;
  list-style: none;
  flex-direction: column;
}

.footer-list__item {
  display: flex;
  gap: 8px;
  color: #e1d4c9;
  position: relative;
  font-weight: 600;
  line-height: 150%;
  font-size: 16px;
}

.list-item__link {
  color: #e1d4c9;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.list-item__link::after {
  display: block;
  content: '';
  bottom: 0;
  height: 2px;
  transform: scale(0, 0);
  opacity: 0;
  transition: 0.8s;
  background-color: #e1d4c9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.list-item__link:hover::after {
  transform: scale(1, 1);
  opacity: 1;
  transition: 0.8s;
}
.footer-list__item:last-of-type {
  padding-top: 4px;
}
